// Styling for contact form page
#contact-form {
    width:100%;
}
#contact-form input {
    width: 100%;
}
#contact-form textarea {
    width: 100%;
    resize: none;
}
#submit {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
#submit button {
    cursor: pointer;
}