.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;

  opacity: 100%;
  visibility: visible;

  transition: visibility 0.5s, opacity 0.5s;

  font-size: 2em;

  button {
    cursor: pointer;
    background-color: #3b3b3b;
    width: 1.5em;
    height: 1.5em;
    max-width: 100%;
    border-radius: 50%;
    border: none;
  }

  @media (hover) {
    :hover {
      opacity: 60%;
    }
  }
}

.hidden {
  opacity: 0%;
  visibility: hidden;
}
