// Form
#contact-form {
  width: 100%;

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    resize: none;
  }
}

.h-captcha {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

// Submit Button
#submitContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#submit {
  cursor: pointer;
}

.fa-spinner {
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Error borders
$errorColour: #ff0000;
$flashColour: #fff;

.blink {
  animation: blink 0.35s;
  animation-iteration-count: 2;
  & + div {
    font-size: 0.75em;
    color: $errorColour;
    backface-visibility: hidden;
  }
}

.blinkBorder {
  @extend .blink;
  border: 1px $errorColour solid;
}

.captchaBlinkBorder {
  @extend .blink;
  & + div {
    margin: auto;
    width: 50%;
    text-align: center;
  }
  & > iframe {
    @extend .blink;
    outline: 2px $errorColour solid;
  }
}

@keyframes blink {
  50% {
    border-color: $flashColour;
    outline: $flashColour;
  }
}

// Message box
.messageEmpty {
  display: none;
  visibility: hidden;
}

.messageSuccess {
  background-color: green;
}

.messageError {
  background-color: red;
}
