<div id="contact-form">
    <form>
        <label for="name">Name:</label>
        <input type="name" id="name" name="name" placeholder="Your Name">

        <label for="email-address">Email:</label>
        <input type="email" id="email-address" name="email" placeholder="your@email.com">

        <label for="message">Message:</label>
        <textarea type="messsage" rows=10 id="message" name="message" placeholder="Type your message..."></textarea>

        <label for="lastname">My name (First Last):</label>
        <input type="lastname" id="lastname" name="lastname" placeholder="My Name">
        
        <div id="submit">
            <button type="submit"><i class="fa fa-send-o"></i> Submit</button>
        </div>
    </form>
</div>