<figure>
    <img width="100%" height="100%"
        src='/images/blogImages/squoosh/{{ .Get "name" }}.jpg'
        {{ if .Get "orginalFiletype" }}
            data-zoom-src='/images/blogImages/src/{{ .Get "name"}}.{{ .Get "orginalFiletype"}}'
        {{ else }}
            data-zoom-src='/images/blogImages/src/{{ .Get "name"}}.png'
        {{ end }}
        alt='{{ .Get "alt" }}'
        {{ if .Get "lazy" }}
            loading="lazy"
        {{ end }}
    >
    <figcaption>{{ .Get "caption" }}</figcaption>
</figure>